
body {
    background-color:#f1cba5;
    overflow-x: hidden;
}

.nav-item .nav-link {
    color:rgb(64, 64, 64);
    font-size: 14px;
    font-weight: 500;
    position: relative;
}
.nav-item:hover {
    background-color: #f0ad4e;
}

.c-img {
    height: 90%;
    object-fit: cover;
    filter: brightness(0.4);
}

.carousel-caption {
    font-style: inherit;

    margin-bottom:300;
    color: gainsboro;
}

.container {
    width: 100%;
}

.img-fluid {
    height: 400px;
    border-radius: 5%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover; 
  }
  
  .d-flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-grow-1 {
    flex-grow: 1; 
  }
  
  .m-2 {
    margin: 0.5rem;
  }
  .accordion-button {
    background-color: #f0ad4e; 
    color: white; 
    border: 1px solid #f0ad4e; 
  }

    @media (max-width: 600px) {
        .carousel-caption {
    
        display: none; } }